body {
  font-size: 16px;
  font-family:"Oswald", Helvetica;
  text-align: left;
  padding: 10px 10px;
}

.body {
  display: grid;
  grid-template-columns: 26% 73%; 
}

.container1 {
  border: 1px solid black;
  display: grid;
  grid-template-rows:repeat(4,25%);
  padding: 20px 5px;
  background-color: #012d56;
  color: white;
}

.container2 {
  border: 1px solid black;
  display: grid;
  grid-template-rows:50% 50%;
  padding: 20px 30px;
}

.section {
  font-size: 20px;
  background-color: #d3d9de;
  text-align: center;
  color: black;
  padding: 5px;
}

#profile {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

.info {
  text-align: left;
  line-height: 1em ;
  margin: -40px 30px;
}
#email {
  color: #6cb8fd;
  text-decoration: underline;
}
#skype {
  color: #6cb8fd;
  text-decoration: underline;
}

.icons{
  padding: 2px 100px;
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
}

h2 {
  text-align: center;
}
#webdevelop {
  text-align: center;
  font-size: 18px;
  padding: 0px 0px 20px 0px;
}

.text {
  text-indent: 30px;
}

.reference {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.name-tag {
  font-weight: 900;
}

.name-tag2 {
  font-style: oblique;
}
